@import './index_menu';

// TODO
@media (media-feature: value) {
  /* Styles go here */
}

@media (max-width: 600px) {
  /* Styles for devices with a screen width of 600px or less */
}

@media (min-resolution: 300dpi) {
  /* Styles for devices with a high-resolution display */
}


:root {
  --purple-color: #{$purple-color};
  --pink-color: #{$pink-color};
  --grey-color: #{$grey-color};
  --white-color: #{$white-color};
  --black-color: #{$black-color};
  --light-black-color: #{$light-black-color};
  --transition: $transition;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: $font-size;
  line-height: $line-height;
  font-family: $font-family;
  color: $black-color;
}

// resets
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $black-color;
}

button {
  outline: 0;
  border: none;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
}

img {
  width: 100%;
  display: block;
}

input {
  border: none;
  outline: 0;
  font-family: inherit;
  font-size: $font-size;
}

.resize-animattion-stopper * {
  animation: none !important;
  -webkit-animation: none !important;
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

// backgrounds
.bg-pink {
  background-color: $pink-color;
}

.bg-purple {
  background-color: $purple-color;
}

.bg-white {
  background-color: $white-color;
}

// text
.text-black {
  color: $black-color;
}

.text-white {
  color: $white-color;
}

.text-purple {
  color: $purple-color;
}

.text-light-black {
  color: $light-black-color;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-italic {
  font-style: $font-style;
}

// font weights
.fw-3 {
  font-weight: 300;
}

.fw-4 {
  font-weight: 400;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.fw-7 {
  font-weight: 700;
}

.fw-8 {
  font-weight: 800;
}

.fw-9 {
  font-weight: 900;
}

// font sizes
.fs-15 {
  font-size: 1.5rem;
}

.fs-16 {
  font-size: 1.6rem;
}

.fs-17 {
  font-size: 1.7 rem;
}

.fs-18 {
  font-size: 1.8rem;
}

.fs-20 {
  font-size: 2rem;
}

.fs-22 {
  font-size: 2.2rem;
}

.fs-24 {
  font-size: 2.4rem;
}

.fs-26 {
  font-size: 2.6rem;
}

// letter spacing
.ls-1 {
  letter-spacing: 1px;
}

.ls-2 {
  letter-spacing: 2px;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-c {
  justify-content: center;
}

.flex-sb {
  justify-content: space-between;
}

.grid {
  display: grid;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

// section title
.section-title {

  h2 {
    font-weight: 600;
    text-transform: uppercase;
    padding: 18px 0 24px 0;
  }

}