@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');

// colors
$purple-color: #8d27ae;
$pink-color: #d9176d;
$grey-color: #f3f3f3;
$white-color: #fff;
$creamy-white-color: #f8f9fa;
$black-color: #010101;
$light-black-color: #717171;
// $transition: all 300ms ease-ingir-out;

// fonts
$font-family: 'Poppins', sans-serif;
$font-size: 1.6rem;
$line-height: 1.7;
$font-style: italic;


// transition & position 
$transition: var(--transition);
$transform: translatex(100%);